# ─────────────────────────────────────────────────────────────────
#  Salasel - Docker Environment Variables
#  Copy this to .env and fill in your values.
#  .env is in .gitignore — never commit it.
# ─────────────────────────────────────────────────────────────────

ASPNETCORE_ENVIRONMENT=Production

# Database
DB_NAME=SalaselDb
DB_PASSWORD=Sls3l_DB#2026!Secure@Vault91

# JWT
JWT_KEY=SalaselSuperSecretKeyThatIsAtLeast32BytesLong!!!123
